<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>WhatEatJejuUniv</title>
    {% load staticfiles %}
    <!-- Bootstrap Core CSS -->
    <link href="{% static "bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="{% static "metisMenu/metisMenu.min.css" %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static "bootstrap/css/sb-admin-2.css" %}" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="{% static "morrisjs/morris.css" %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static "font-awesome/css/font-awesome.min.css" %}" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">제주대에서 뭐먹지?</a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i> {% if request.session.user_id %}{{ request.session.user_id }}{% endif %} <i class="fa fa-caret-down"> </i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        {% if not request.session.user_id %}
                            <li><a href="#" onclick="javascript:loginModalView();return false;"><i class="fa fa-sign-in fa-fw"></i> login</a>
                            <li><a href="#" onclick="javascript:signupModalView();return false;"><i class="fa fa-sign-in fa-fw"></i> sign up</a>
                        {% else %}
                            <li><a href="#" onclick="javascript:logout();return false;"><i class="fa fa-sign-out fa-fw"></i> logout</a>
                        {% endif %}
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li class="sidebar-search">
                            <div class="input-group custom-search-form">
                                <input type="text" class="form-control" placeholder="Search..." id="search_keyword_input">
                                <span class="input-group-btn">
                                <button class="btn btn-default" type="button" id="search_btn">
                                    <i class="fa fa-search"></i>
                                </button>
                                <form id="search_keyword_form" action="/searchkeyword" method="get">
                                    {% csrf_token %}
                                    <input type="hidden" id="keyword_input" name="keyword">
                                </form>
                            </span>
                            </div>
                            <!-- /input-group -->
                        </li>
                        <li>
                            <a href="/"><i class="fa fa-dashboard fa-fw"></i> 추천키워드</a>
                        </li>
                        <li>
                            <a href="/bestrestaurant"><i class="fa fa-table fa-fw"></i> 추천식당</a>
                        </li>
                        {% if request.session.user_id and request.session.user_id == 'admin'%}
                            <li>
                                <a href="/adddatabaseview"><i class="fa fa-table fa-fw"></i> 관리자 페이지</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <div id="page-wrapper">
            <div class="row">
                {% block bodyheader %}
{#                    <div class="col-lg-12">#}
{#                        <h1 class="page-header">Dashboard</h1>#}
{#                    </div>#}
{#                    <!-- /.col-lg-12 -->#}
                {% endblock %}<!-- block bodyheader end-->
            </div>
            <!-- /.row -->
            <div class="row">
                {% block bodycontent %}
                
                {% endblock %}
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->
        <!-- Modal -->
        <div class="modal fade" id="login_modal" role="dialog"><!-- login Modal -->
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Login</h4>
                    </div>
                    <div class="modal-body">
                        <form action="/login" method="post" id="login_form">
                            <div class="form-group">
                                <label for="user_id" class="form-control-label">ID :</label>
                                <input type="text" class="form-control" id="user_id" name="user_id">
                            </div>
                            <div class="form-group">
                                <label for="user_pw" class="form-control-label">PW :</label>
                                <input type="password" class="form-control" id="user_pw" name="user_pw">
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <input type="button" class="btn btn-default" data-dismiss="modal" value="login" id="login_submit">
                    </div>
                </div>

            </div>
        </div><!-- login Modal end -->

        <div class="modal fade" id="signup_modal" role="dialog"><!-- signup Modal -->
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">SignUp</h4>
                    </div>
                    <div class="modal-body">
                        <form action="/login" method="post" id="login_form">
                            <div class="form-group">
                                <label for="user_id" class="form-control-label">ID :</label>
                                <input type="text" class="form-control" id="signup_id" name="signup_id">
                            </div>
                            <div class="form-group">
                                <label for="user_pw" class="form-control-label">PW :</label>
                                <input type="password" class="form-control" id="signup_pw" name="signup_pw">
                            </div>
                            <div class="form-group">
                                <label for="user_pw" class="form-control-label">PW Check:</label>
                                <input type="password" class="form-control" id="signup_pw_check" name="signup_pw_check">
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <input type="button" class="btn btn-default" data-dismiss="modal" value="SignUp" id="sign_submit">
                    </div>
                </div>

            </div>
        </div><!-- signup Modal end -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="{% static "jquery/jquery.min.js" %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="{% static "metisMenu/metisMenu.min.js" %}"></script>

    <!-- Morris Charts JavaScript -->
    <script src="{% static "raphael/raphael.min.js" %}"></script>
    <script src="{% static "morrisjs/morris.min.js" %}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{% static "bootstrap/js/sb-admin-2.js" %}"></script>

    <script src="{% static "js/base.js" %}"></script>
    {% block appendBlock %}
    {% endblock %}
</body>

</html>
