{% extends 'base/base.html' %}

{% block bodyheader %}
    <div class="col-lg-12">
        <h1 class="page-header">데이터베이스 입력 화면</h1>
    </div>
{% endblock %}


{% block bodycontent %}
    <div class="col-lg-12">
        <div><h3>가게정보 입력</h3></div>
        <div>
            <input type="hidden" name="call_number" value="">
            <input type="hidden" name="save_type" value="store">
            <table class="table table-bordered" id="store_data_table">
                <colgroup>
                    <col width="10%">
                    <col width="*%">
                    <col width="10%">
                    <col width="*%">
                    <col width="5%">
                </colgroup>
                <tbody>
                    <tr>
                        <td class="active"><label>가게이름 </label>: </td>
                        <td colspan="3">
                            <div class="col-lg-11">
                                <input class="form-control" type="text" name="name">
                            </div>
                        </td>
                        <td rowspan="4" class="align-middle">
                            <input type="button" class="btn btn-primary" value="저장" onclick="javascript:saveData('store');">
                        </td>
                    </tr>
                    <tr>
                        <td class="active"><label>전화번호 </label>: </td>
                        <td colspan="3">
                            <div>
                                <div class="col-lg-3">
                                    <input class="form-control" type="number" maxlength="3" minlength="3" id="store_first_call_number">
                                </div>
                                <div class="col-lg-4">
                                    <input class="form-control" type="number" maxlength="4" minlength="3" id="store_middle_call_number">
                                </div>
                                <div class="col-lg-4">
                                    <input class="form-control" type="number" maxlength="4" minlength="4" id="store_last_call_number">
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="active"><label>키워드(or 태그) </label>: </td>
                        <td colspan="3">
                            <div class="col-lg-12">
                                <label class="text-danger">*공백을 포함할 수 없으며, 단어의 구분은 쉽표(,)를 이용하세요.</label>
                            </div>
                            <div class="col-lg-11">
                                <input class="form-control" type="text" name="keyword">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="active"><label>이미지 링크 </label>: </td>
                        <td colspan="3">
                            <div class="col-lg-11">
                                <input class="form-control" type="text" name="img_link">
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-lg-12">
        <div><h3>메뉴 입력</h3></div>
        <div>
            <table class="table table-bordered" id="menu_data_table">
                <tbody>
                    <tr>
                        <td class="active">
                            <label>메뉴명 </label>:
                        </td>
                        <td>
                            <div class="col-lg-11">
                                <input class="form-control" type="text" name="name">
                            </div>
                        </td>
                        <td>
                            <input type="button" class="btn btn-primary" value="저장" onclick="javascript:saveData('menu');">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-2">
                <h3>메뉴 입력</h3>
            </div>
            <div class="col-lg-10">
                <div class="col-lg-12">
                    <label class="text-danger">*가게 메뉴를 추가하기전 밑의 버튼을 눌러서 가게메뉴 정보를 갱신하세요.</label>
                </div>
                <div class="col-lg-12">
                    <input type="button" class="btn btn-xs btn-primary align-right" value="가게&메뉴 정보 불러오기" onclick="javascript:loadStoreAndMenu('menu');">
                </div>
            </div>
        </div>
        <div>
            <table class="table table-bordered" id="store_menu_info_table">
                <colgroup>
                    <col width="10%">
                    <col width="37%">
                    <col width="10%">
                    <col width="38%">
                    <col width="5%">
                </colgroup>
                <tbody>
                    <tr>
                        <td class="active"><label>가게선택 </label>:</td>
                        <td>
                            <div class="col-lg-10">
                                <select class="form-control" id="store_list_menu_selectbox" disabled>

                                </select>
                            </div>
                        </td>
                        <td class="active"><label>메뉴선택 </label>:</td>
                        <td>
                            <div class="col-lg-10">
                                <select class="form-control" id="menu_list_menu_selectbox" disabled>

                                </select>
                            </div>
                        </td>
                        <td rowspan="2">
                             <div>
                                <input type="button" class="btn btn-primary" value="저장" onclick="javascript:saveData('store_menu');">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="active"><label>가격</label> :</td>
                        <td>
                            <div class="col-lg-11">
                                <input type="number" class="form-control" name="price"  disabled>
                            </div>
                        </td>
                        <td class="active"><label>이미지 링크</label> :</td>
                        <td>
                            <div class="col-lg-11">
                                <input type="text" class="form-control" name="img_link" id="store_menu_img_link" disabled>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <h2>이미지 파일 업데이트</h2>
    <div class="col-lg-12">
        <div class="col-lg-12">
            <label class="text-danger">*가게 메뉴를 추가하기전 밑의 버튼을 눌러서 가게메뉴 정보를 갱신하세요.</label>
        </div>
        <div class="col-lg-12">
            <input type="button" class="btn btn-xs btn-primary align-right" value="가게&메뉴 정보 불러오기" onclick="javascript:loadStoreAndMenu('img');">
        </div>
    </div>

    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-2">
                <h4>가게 이미지 </h4>
            </div>
            <div class="col-lg-12">
                <table class="table table-bordered">
                    <colgroup>
                        <col width="10%">
                        <col width="80%">
                        <col width="10%">
                    </colgroup>
                    <tr>
                        <th class="active"><label>가게 :</label></th>
                        <td>
                            <div class="col-lg-10">
                                <select class="form-control" id="store_list_img_selectbox" disabled></select>
                            </div>
                        </td>
                        <td rowspan="2">
                             <input type="button" class="btn btn-primary" value="저장" onclick="javascript:updateImg('store');">
                        </td>
                    </tr>
                    <tr>
                        <td class="active"><label>이미지 링크</label> :</td>
                        <td>
                            <div class="col-lg-11">
                                <input type="text" class="form-control" name="img_link" id="store_img_input" disabled>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2">
                <h4>가게메뉴 이미지 </h4>
            </div>
            <div class="col-lg-12">
                <table class="table table-bordered">
                    <colgroup>
                        <col width="10%">
                        <col width="80%">
                        <col width="10%">
                    </colgroup>
                    <tr>
                        <th class="active"><label>가게메뉴 :</label></th>
                        <td>
                            <div class="col-lg-5">
                                <select class="form-control" id="menu_list_img_selectbox" disabled></select>
                            </div>
                        </td>
                        <td rowspan="2">
                             <input type="button" class="btn btn-primary" value="저장" onclick="javascript:updateImg('store_menu');">
                        </td>
                    </tr>
                    <tr>
                        <td class="active"><label>이미지 링크</label> :</td>
                        <td>
                            <div class="col-lg-11">
                                <input type="text" class="form-control" name="img_link" id="menu_img_input" disabled>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
{% endblock %}


{% block appendBlock %}
    {% load staticfiles %}
    <script type="text/javascript" src="{% static "js/add_database.js" %}"></script>
{% endblock %}