{% extends 'base/base.html' %}

{% block bodyheader %}
    <div class="col-lg-12">
        <h1 class="page-header">데이터베이스 입력 화면</h1>
    </div>
{% endblock %}


{% block bodycontent %}
    <div class="col-lg-6">
        <div><h3>가게정보 입력</h3></div>
        <div>
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-lg-6">
        <div><h3>메뉴 입력</h3></div>
        <div>
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-lg-12">
        <div><h3>가게 메뉴 입력</h3></div>
        <div>
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <td>가게선택</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>메뉴선택</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>가격</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}


{% block appendBlock %}
    {% load staticfiles %}
    <script type="text/javascript" src="{% static "js/add_database.js" %}"></script>
{% endblock %}